.container{
    display: flex;
}
.tabs{
    width: 15%;
    background-color: aliceblue;
    font-size: 2rem;
}
.hidden{
    display: none;
}

.content{
    width: 40%;
}
.contents{
    display: flex;
    justify-content: center;
    place-items: center;
}
.active{
    background-color: aquamarine;
}
.tab{
    padding: 1rem;
}